body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.row {
    background-position: center;
    background-size: cover;
    background-color: white;
}
.row .col-sm-3 {
    padding: 14px 16px;
    width: 25%;
}

.container {
    width: 100%;
}

.container .btn-inner {
    text-align: center;
}
.container .btn-inner a {
    margin: 0 7px;
}





.card {
    width: 100%;
    margin: 10px;
    padding: 14px;
    border: 0.3px solid black;
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;
}


/* 用 > 保持良好的层级关系 */
.card-body > ul {
    list-style: none;
}


.card:hover .card-body > ul > li a {
    color: white;
}

.colorBlock_1 {
    background-color: red;
}
.colorBlock_2 {
    background-color: yellow;
}
.colorBlock_3 {
    background-color: green;
}
.colorBlock_1  >.card-body > ul > li a, .colorBlock_3 > .card-body > ul > li a {
    color: white;
}

.hoverBlock > ul {
    list-style: none;
}
.hoverBlock {
    display: none;
}

.hoverBlock > ul > li a{
    color: white;
}





